<h1><%= @bookmark.url %></h1>
  <% if policy(@bookmark).update?%>
    <%= link_to "Edit", edit_topic_bookmark_path, class: 'btn btn-info btn-small' %>
  <br>
  <% end %>
  <% if policy(@bookmark).destroy?%>
    <%= link_to "Delete", [@bookmark.topic, @bookmark],
  class: 'btn btn-danger btn-small',
  method: :delete, data: { confirm: 'Are you sure you want to delete this bookmark' } %>
  <% end %>
