<h1>About KaeMarks</h1>
  <h3>Brief</h3>
    <p>KaeMarks is a Rails application that allow users to bookmark URLs
        by email, check out others' bookmarks and organize their bookmarks.</p>

  <h3>User Stories:</h3>
    <br>
    <p>Below is a list of user stories, I was required to complete in order to
      build this application.</p>
      <ul>
        <li>As a user, I want to sign up for a free account by providing a user name, password and email.</li>
        <li>As a user, I want to sign in and out of KaeMarks.</li>
        <li>As a user, I want to email a URL to KaeMarks and have it saved
          in the KaeMarks database.</li>
        <li>As a user, I want to see an index of all topics and
          their bookmarks.</li>
        <li>As a user, I want to create, read, update, and delete bookmarks.</li>
        <li>As a user, I want to be the only one allowed to delete and
          update my bookmarks.</li>
        <li>As a user, I want to "like and unlike" bookmarks
          created by other users.</li>
        <li>As a user, I want to see a list of bookmarks on my personal
          profile that I've added or liked.</li>
      </ul>

    <p>I used several gems such as devise, letter_opener and faker to add
      Authentication, fake data and efficiency to the application.</p>
      <br>
  <p> This application was built as part of Bloc's final project curriculum.</p>
  <small>Created by Ashleigh White</small>
