<h1>About KaeMarks</h1>
<p>KaeMarks is a Rails application that allow users to bookmark URLs
  by email, check out others' bookmarks and organize their bookmarks.</p>

  <p> This application was built as part of Bloc's final project curriculum.</p>
  <small>Created by Ashleigh White</small>
