<h1>Welcome to KaeMarks</h1>
<div class="container">
  <div class= "jumbotron">
    <ul>
      <li>Do you ever get overwhelmed looking at your list of bookmarks?</li>
      <li>Have you ever wished you could share your bookmarks with others?</li>
      <li>Do you want a fun, colorful, easy way to organize your bookmarks?</li>
    </ul>
    <br>
    <p>If you have answered yes to any of these questions, then KaeMarks is the
      solution for you!</p>
      <button class="start-btn" type="button">
        <%= link_to "Begin Here", topics_path %>
      </button>
    </div>
  </div>
